VITE_SUPABASE_URL=https://vwprrahxvqnjyuhseumc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3cHJyYWh4dnFuanl1aHNldW1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAxNTMyMzksImV4cCI6MjA2NTcyOTIzOX0.MTXwU2l1MlTaKTwDjRTWsyPoeBvz7wCpWjA6auPKPJk